* {
    margin: 0;
    padding: 0;
    font-family: roboto;
    box-sizing: border-box;
    text-decoration: none;
}
html, body {
    height: 100%;
    width: 100%;
}
#page1{
    height: 100vh;
    width: 100vw;
    /* background-color: red; */
    display: grid;
    grid-template-columns: 20vw 80vw;
    overflow-x: hidden;
}
#sidebar{
    background-color: rgba(237, 234, 234, 0.819);
    width: 20vw;
    overflow-y: auto;
    /* background-color: red; */
    /* position: fixed; */
    padding: 2vw 0 0 2vw;
    position: sticky;
    top: 0;
    left: 0;
}
#maincont{
    /* background-color: aqua; */
    height: fit-content;
    width: 80vw;
    overflow-x: hidden;
}
#sidebar #logo{
    font-size: 2vw;
  }
  #sidebar #logo abbr{
    text-decoration: none;
  
  }
  #sidebar #logo abbr:hover{
    cursor: pointer;
  }
#sidebar #sidecont{
    /* background-color: aqua; */
    padding: 3vw 0 0 0vw;
}  
#sidebar #sidecont .sideicon{
    font-size: 1.5vw;
    /* border: 1px solid black; */
    padding: .7vw 0 .7vw .4vw;
    border-radius: 10px;
}
#sidebar #sidecont a:link {
    color: rgb(0, 0, 0);
}

#sidebar #sidecont a:visited {
    color: rgb(0, 0, 0);
}
#sidebar #sidecont .sideicon:hover{
    background-color: rgba(223, 214, 214, 0.881);
}
#maincont #nav-bar{
    height: 12vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 2vw;
    gap: 1vw;
}
#maincont #nav-bar #prof-cont{
    height: 5vw;
    width: 5vw;
    background-color: aqua;
    border-radius: 50%;
    cursor: pointer;
}
#maincont #nav-bar img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#maincont #nav-bar i{
    font-size: 1.5vw;
    cursor: pointer;
}#maincont #nav-bar i:hover{
    color: red;
    
}
#maincont #head{
    padding: 1.5vw 2vw 1.5vw 1vw;
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#maincont #head h2{
    font-size: 2vw;
    font-weight: 400;
}
#maincont #head button{
    padding: .8vw 1vw;
    border-radius: 50px;
    font-size: 1.15vw;
    background-color: transparent;
    outline: none;
    border: .1px solid black;
    cursor: pointer;
    /* position: relative; */
}
#maincont #head #create-grp-form{
    position: absolute;
    width: 29%;
    height: 67%;
    /* background-color: red; */
    top: 50%;
    left: 50%;
    display: none;
    transform: translate(-50%,-50%);
    
}
#maincont #head #create-grp-form #cont{
    height: 100%;
    width: 100%;
    backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, 0.632);
    position: relative;
    padding: 3vw 1vw 0 1vw;
    border-radius: 40px;
}
#maincont #head #create-grp-form #cont i{
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 1.3vw;
    cursor: pointer;
}
#maincont #head #create-grp-form h2{
    font-size: 2.2vw;
    font-weight: 500;
}
#maincont #head #create-grp-form #takeinp{
    /* background-color: red; */
    margin: 6.5vh 0;
}
#maincont #head #create-grp-form label,#maincont #head #create-grp-form textarea{
    font-size: 1.3vw;
}
#maincont #head #create-grp-form input{
    width: 100%;
    height: 55px;
    outline: none;
    border-radius: 12px;
    border: .1px solid rgba(48, 47, 47, 0.286);
    padding: 0 1vw;
    font-size: 1.18vw;
    margin-bottom: 1.1vh;
    font-weight: 350;
}
#maincont #head #create-grp-form textarea {
    width: 100%; /* Makes it responsive */
    height: 55px; /* Set a fixed height */
    font-size: 1.18vw;padding: 1vw 1vw;
    border: .1px solid rgba(48, 47, 47, 0.286);
    border-radius: 12px; /* Rounded corners */
    outline: none;
    resize: none; 
    font-weight: 350;
}
#maincont #head #create-grp-form input[type="file"] {
    display: none; /* Hide default file input */
}

/* Hide default file input */
#maincont #head #create-grp-form input[type="file"] {
    display: none;
}

/* Styled custom file input */
.custom-file-upload {
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    background-color: white;
    border-radius: 12px;
    border: 0.1px solid rgba(48, 47, 47, 0.286);
    padding: 0 1vw;
    font-size: 1.18vw;
    margin-top: 2vh;
    font-weight: 350;
    cursor: pointer;
    text-align: center;
    transition: 0.3s ease-in-out;
    overflow: hidden;
    
}


.custom-file-upload img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 8px;
    display: none;
}
#maincont #head #create-grp-form .inp:hover, .inp:focus ,textarea:focus,textarea:hover{
    box-shadow: 3px 3px 3px rgba(25, 25, 25, 0.178),-3px -3px 3px rgba(25, 25, 25, 0.178);
    
}

#maincont #head #create-grp-form input::placeholder,#maincont #head #create-grp-form textarea::placeholder{
    font-size: 1.05vw;
    color: rgba(0, 0, 0, 0.33);
}
#maincont #head #create-grp-form #submit{
    background-color: #0D0C22;
    color: white;
    border-radius: 50px;
    font-size: 1.2vw;
    font-weight: 400;
}
#maincont #head #create-grp-form #submit:hover{
    background-color: rgba(27, 26, 26, 0.907);
    cursor: pointer;
}
#maincont #head #create-grp-form .error { 
    color: red; font-size: 1.02vw;
    /* background-color: aqua;  */
    text-align: start;
    margin-left: 10px;
    margin-top: 30px;
    
}
#grpcont{
    padding: 0vw 2vw;
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    column-gap: 3vw;
    row-gap: 2vw;
    justify-content: center;
    width: 100%;
    /* background-color: aqua; */
}
.box{
    height: 40vh;
    width: 20vw;
    background-color: red;
}